<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit results</title>
</head>

<body>

    <h2>Editar registro</h2>
        <% data.forEach(function(details) { %> 
            <form action="/edit/<%= details._id %>" method="POST">
                <input type="text" value="<%= details.cod %>" name="cod">
                <input type="text" value="<%= details.lat %>" name="lat">
                <input type="text" value="<%= details.long %>" name="long">
                <br />
                <button><a href="/show">Todos</a></button>
                <button type="submit">Editar</button>
            </form>
        <% }) %>

</body> 
</html>