<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multimidia</title>
</head>

<body>

    <h2>Registrar Novos Caminhos</h2>
    <form action="/" method="POST">
            <input type="text" placeholder="Codigo da Sala" name="cod">
            <input type="text" placeholder="Pontos" name="points">
            <button type="submit">Submit</button>
    </form>

    <h2>Visualizar um caminho existente</h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Cod" name="cod">
        <button type="submit">Submit</button>
    </form>


    <h2>Visualizar todos os caminhos existentes</h2>
    <form action="/show" method="GET">
        <button type="submit">Submit</button>
    </form>

</body> 
</html>