<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multimidia</title>
</head>

<body>

    <h2>Registrar</h2>
    <form action="/show" method="POST">
            <input type="text" placeholder="Cod. Sala" name="cod">
            <input type="text" placeholder="Lat" name="lat">
            <input type="text" placeholder="Long" name="long">
            <button type="submit">Submit</button>
    </form>

</body> 
</html>